* {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.terms-of-use{
  font-weight: bolder;
  text-align: center;
  padding: 3%;
  font-size: 100px;
  color: gray;
  box-shadow: 0px 9px 6px -7px rgba(0,0,0,0.54);
}

.introduction, .disclaimer, .intellectual, .links, .general{
  font-weight: bolder;
  font-size: 50px;
  padding: 3%;
}

.disclaimer, .intellectual{
  padding-top: 5%;
}

p{
  font-weight: lighter;
  color: rgb(44, 44, 44);
  margin-left: 3%;
  margin-right: 3%;
  
}